*{
    margin: -4px;
}

body{
    background-color: #407b36;
    text-align: center;
    font-size: 26px;
    color: white;
    padding: 10px;
}

.head{
    font-size:30px;
}

.section_first{
    padding-left: 100px;
    padding-right: 100px;
    background-color: #407b36;
}

.section_second{
    padding-left: 100px;
    padding-right: 100px;
    background-color: #e2f6cb;
    color: black ;
}

.section_third{
    padding-left: 100px;
    padding-right: 100px;
    background-color: #407b36;
}