<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\css\style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <h1 class="head">
                Последствия глобального потепления
            </h1>
            <p>
                На этом сайте я хочу рассказать про вред глобального потепления, его причины и последствия
            </p>
            <a href="">Просмотреть информацию</a>
        </div>
    </header>
    <body>
        <section class="section_first">
            <h2>
                Для начала узнаем причины возникновекния глобального потепления:
            </h2>
            <p>
                1.Производство электроэнергии
                <br>
                Значительная доля глобальных выбросов связана с производством электроэнергии и тепла путем сжигания ископаемых видов топлива. 
                Бóльшая часть электроэнергии по-прежнему производится посредством сжигания угля, нефти или газа, в результате чего образуются 
                углекислый газ и закись азота – мощные парниковые газы, которые покрывают Землю и задерживают солнечное тепло.
            </p>
            <p>
                2.Использование транспорта
                <br>
                Большинство автомобилей, грузовиков, кораблей и самолетов работают на ископаемых видах топлива. Это делает транспорт одним из главных 
                источников выбросов парниковых газов, особенно выбросов углекислого газа. Наибольшая их часть приходится на дорожные транспортные 
                средства в связи со сжиганием продуктов нефтепереработки, таких как бензин, в двигателях внутреннего сгорания.
            </p>
            <p>
                3.Энергоснабжение зданий
                <br>
                В мировом масштабе жилые и коммерческие здания потребляют более половины всей электроэнергии. В связи с продолжающимся использованием 
                угля, нефти и природного газа для целей отопления и охлаждения они выбрасывают значительные количества парниковых газов. В последние 
                годы повышение спроса на энергию для отопления и охлаждения с ростом численности владельцев кондиционеров и увеличение потребления 
                электричества для освещения и обеспечения работы бытовой техники и подключенных устройств способствовали увеличению выбросов 
                углекислого газа, производимых зданиями и связанных с энергоснабжением.
            </p>
        </section>
        <section class="section_second">
            <h2>
                                            А вот какие бывают последствия глобального потепления:
            </h2>
            <p>
                1.Глобальное потепление имеет серьезные последствия для нашей планеты. Повышение температуры на Земле приводит к таянию 
                ледников и поднятию уровня мирового океана, что угрожает прибрежным регионам и островам. Изменения в погоде вызывают 
                экстремальные явления, такие как ураганы, наводнения и засухи, что приводит к гибели людей, разрушениям инфраструктуры 
                и потере сельскохозяйственных урожаев.
            </p>
            <p>
                2.Глобальное потепление также влияет на мировую экономику, поскольку угрожает различным отраслям, таким как сельское хозяйство, 
                рыболовство и туризм. Ухудшение качества воздуха и воды ведет к росту заболеваний и приводит к ухудшению общего здоровья населения.
            </p>
            <p>
                3.Необходимо принимать срочные меры для снижения выбросов парниковых газов и остановки глобального потепления. Важно развивать 
                возобновляемые источники энергии, сокращать использование ископаемых топлив и принимать меры по сохранению лесов и океанов. 
                Только совместными усилиями всех стран мира мы сможем предотвратить катастрофические последствия изменений климата.
            </p>
        </section>
        <section class="section_third">
            <h2>
                Меры профилактики
            </h2>
            <p>
                Последствия глобального потепления довольно сильные,но есть меры, которые помогают избегать появление глобального потепления
            </p>
            <p>
                Глобальное потепление является одной из самых серьезных экологических проблем нашего времени. Оно приводит к изменению климата планеты, 
                увеличению количества экстремальных погодных явлений, подъему уровня мирового океана и угрозе вымирания многих видов животных и растений. 
                                    Для борьбы с этим явлением необходимы срочные и эффективные меры профилактики:
            </p>
            <p>
                1.Одной из основных мер является снижение выбросов парниковых газов, таких как углекислый газ, метан, оксид азота. 
                Для этого необходимо пересмотреть энергетическую политику стран, перейти на использование возобновляемых источников энергии, сократить использование ископаемых 
                топлив и обратить внимание на энергоэффективные технологии.
            </p>
            <p>
                2.Также важным шагом является сохранение лесов и поощрение их увеличения. 
                Леса являются естественным углеродным резервуаром, способным удерживать 
                большое количество углекислого газа. Поэтому важно бороться с вырубкой лесов и проводить масштабные программы по озеленению.
            </p>
            <p>
                3.Важную роль играют также международные договоры и соглашения по сокращению выбросов парниковых газов. Соглашения типа Парижского соглашения помогают 
                странам скоординировать свои усилия в борьбе с изменением климата и поддерживать цели по снижению выбросов.
            </p>
            <p>
                4.В целом, для преодоления глобального потепления необходимы совместные усилия со стороны всех государств, бизнеса и общественности. Только объединенные 
                усилия позволят сохранить нашу планету для будущих поколений. Важно начинать действовать прямо сейчас, чтобы избежать катастрофических последствий 
                изменения климата.
            </p>
        </section>
    </body>
</body>
</html>